@model ProjetFinalBD.Models.Team

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoachName" class="control-label"></label>
                <input asp-for="CoachName" class="form-control" />
                <span asp-validation-for="CoachName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeasonYear" class="control-label"></label>
                <input asp-for="SeasonYear" class="form-control" />
                <span asp-validation-for="SeasonYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordWLT" class="control-label"></label>
                <input asp-for="RecordWLT" class="form-control" />
                <span asp-validation-for="RecordWLT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayOffRecordWL" class="control-label"></label>
                <input asp-for="PlayOffRecordWL" class="form-control" />
                <span asp-validation-for="PlayOffRecordWL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
