@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7/css/all.min.css');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.imageFrame {
    height : 400px;
    width : auto;
}